{% extends "main.html" %}

{% block nav %}

<ul class="nav justify-content-end">
<li class="nav-item">
    <form action="new_session">
            <button type="submit" margin-left:30px margin-right:30px  class="btn btn-primary">new User Session</button>
        </form>

</li>
    <li>
    <a class="nav-link" href="{{url_for('board.add')}}">Add</a>
        </li>
    <li>

    <a>
        <form action="sortnew">
            <button type="submit"  class="btn btn-primary">sort by new</button>
        </form>
        <form action="sortlikes">
            <button type="submit"  class="btn btn-primary">sort by # of likes</button>
        </form>
    </a>
        </li>

</li></ul>


{% endblock %}


{% block content %}

    <div class="row">
        {% set count = 1 %}
        {% for post in posts %}
        <div class="col-md-6 col-lg-4">
            <div class="card text-white bg-{{ post.color }}">
                <div class="card-header">{{ post.title }}</div>
                <div class="card-body">
                    <p class="card-text">{{ post.description }}
                    <form action="likes">

                        {% set count = count + 1 %}
                        {% if post.liked_by_user == 'test' %}
                        <button type="submit"  class="btn btn-primary">Like ({{ post.likes }})</button>
                        {% else %}
                        <button type="submit"  class="btn btn-primary" disabled>Like ({{ post.likes }})</button>
                        {% endif %}
                    </form>
                    </p>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
{% endblock %}
